/* Customizações específicas para a Home Page */
div {
  margin-top: 20px;
  margin-bottom: 20px;
}

Header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

Footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
a {
  background-color: #007bff; /* Cor do botão, personalizada */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}

a:hover {
  background-color: #0056b3;
}
